.parentSpin{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(90, 90, 90, 0.055);
    z-index :10;
    display: flex;
    align-items: center;
    justify-content: center;
   backdrop-filter: blur(2px);
    
   }
   .custom-loader {
    width: 50px;
    height: 50px;
    display: grid;
    border-radius: 50%;
    -webkit-mask:radial-gradient(farthest-side,#0000 40%,#000 41%);
    background:
    linear-gradient(0deg ,#0085F480 50%,#0085F4FF 0) center/4px 100%,
    linear-gradient(90deg,#0085F440 50%,#0085F4BF 0) center/100% 4px;
    background-repeat: no-repeat;
    animation: s3 0.5s infinite steps(12);
  }
  .custom-loader::before,
  .custom-loader::after {
     content:"";
     grid-area: 1/1;
     border-radius: 50%;
     background:inherit;
     opacity: 0.915;
     transform: rotate(30deg);
  }
  .custom-loader::after {
     opacity: 0.83;
     transform: rotate(60deg);
  }
  
  @keyframes s3 {
    100% {transform: rotate(1turn)}
  }